<html>
    <head>
        <title></title>
    </head>
    <body>
        <!-- <form action="/login" method="post">
        用户名：<input type="text" name="username">
        密码：<input type="password" name="password">
        <input type="submit" value="登录">
        </form> -->
        <!-- <div>hello,{{.}}</div>
        <div>hello,{{.Name}}</div>
        <div>hello,{{.Sex}}</div>
        <div>hello,{{.Age}}</div> -->
        <!-- <div>hello,{{.}}</div>
        <div>hello,{{.Name}}</div>
        <div>hello,{{.Sex}}</div>
        <div>hello,{{.Age}}</div> -->
        <!-- {{if gt .Age 18}}
        <p>hello,old man,{{.Name}}</p>
        {{else}}
        <p>hello,young man,{{.Name}}</p>
        {{end}} -->
<!-- 
        <div>hello,{{.}}</div>
        <div>name:{{.Name}}</div>
        <div>sex:{{.Sex}}</div>
        <div>age:{{.Age}}</div>
         <div>address:{{.Address.City}} {{.Address.Province}}</div>
        {{with .Address}}
        <div>address:{{.Province}} {{.City}}</div>
        {{end}} -->
        {{range .}}
        {{if gt .Age 18}}
        <p>hello,old man,{{.Name}}</p>
        {{else}}
        <p>hello,young man,{{.Name}}</p>
        {{end}}
        {{end}}
    </body>
</html>